.home-page {
  font-family: "Roboto";
  min-height: 100vh;
  display: flex;
}
.left-container {
  width: 30%;
  background-color: rgba(212, 212, 212, 0.486);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-container {
  width: 70%;
  background-color: white;
}
.main-head {
  font-size: 30px;
  margin: 10px;
}
.search-input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  outline: none;
  margin-top: 20px;
}
.search-input::placeholder {
  color: gray;
  font-size: 15px;
}
.segments {
  font-size: 20px;
  color: gray;
}
.right-container nav {
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1.5px solid #bfbfbf;
}
.nav-icon {
  margin-right: 20px;
  font-size: 25px;
  color: black;
  cursor: pointer;
}
.nav-icon:hover {
  color: blueviolet;
}
.right-container nav p {
  color: black;
  font-size: 20px;
  margin-right: 20px;
}
.segment-tab {
  background-color: transparent;
  color: black;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
}
.blue,
.segment-tab:hover {
  color: blueviolet;
}
.tabs-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 55vh;
  overflow: auto;
}
.add-segment {
  color: white;
  border: none;
  background-color: blueviolet;
  height: 35px;
  width: 100%;
  outline: none;
  cursor: pointer;
  text-align: start;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 5px;
}
.popup-container {
  box-shadow: 0 0 10px #bfbfbf;
  width: 50vw;
  height: 70vh;
  padding: 15px;
  padding-top: 10px;
  background-color: white;
}
.add-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.section label {
  font-size: 20px;
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
}
.section input {
  height: 30px;
  width: 100%;
  background-color: transparent;
  padding-left: 10px;
  font-size: 15px;
  color: black;
  outline: none;
  border: 1px solid black;
}
.button-blue {
  height: 35px;
  width: 120px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
}
.button-cancel {
  height: 35px;
  width: 120px;
  background-color: transparent;
  color: blueviolet;
  border: 1.5px solid blueviolet;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
}
